body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#chart {
  position: relative;
}

.gridlines line {
  stroke: #e0e0e0;
  stroke-width: 1;
}

.gridlines path {
  display: none;
}

circle {
  transition: all 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

circle.selected {
  fill: #ff6b6b;
}

dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5em;
  row-gap: 0.2em;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4);
  transition: opacity 0.5s, visibility 0.5s;
  pointer-events: none;
}

dl.info dt {
  font-weight: normal;
  color: #555;
}

dl.info dd {
  margin: 0;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10;
}

dl.info[hidden]:not(:hover):not(:focus-within) {
  opacity: 0;
  visibility: hidden;
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8;
  }
}

#stats, #language-breakdown {
  margin-top: 1em;
}

/* Slider styling */
#slider-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}
#slider-container time {
  margin-left: auto;
}

/* Unit visualization */
#files {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
}
#files > div {
  display: grid;
  grid-template-columns: subgrid;
}
dt { grid-column: 1; }
dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}
.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}


/* Scrollytelling layout */
#scrolly-1 {
  display: block;
}

#scatter-story {
  flex: 1;
  position: relative;
}

#scatter-plot {
  position: static; /* normal flow */
  height: auto;
}